{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
{% if user.is_authenticated %}
{% block topleft_menu %}
<li class="nav-item mr-1">
    <div id="workgroup_dropdown" class="dropdown">
            <a class="btn btn-light dropdown-toggle rounded-0"
                    type="button" id="workgroup_selector" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="mr-2 text-dark fas fa-building"></i>
                    <span id="workgroup-spinner" class="fa fa-spinner fa-spin" style="font-size:16px; display: none;"></span>
                    <span class="d-none d-md-inline" id="workgroup_button_text">
                      Select a workgroup
                    </span>
            </a>
            <div class="dropdown-menu animated fadeIn rounded-0" aria-labelledby="workgroup_selector">

                <a class="dropdown-item" href="#!">
                    <i class="mr-3 text-dark fas fa-list "></i>Display all my workgroups
                </a>
                <div class="dropdown-divider"></div>
                <div class="p-2">
                    <input type="text" class="form-control rounded-0" id="workgroup_search">
                </div>
                <div class="dropdown-divider"></div>
                <div id="workgroup_list">
                    <!-- Workgroup dynamic list -->
                </div>
            </div>
    </div>
</li>
<li class="nav-item mr-1">
    <div id="project_dropdown" class="dropdown">
            <a class="btn btn-light dropdown-toggle rounded-0"
                    type="button" id="project_selector" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="mr-2 text-dark fas fa-project-diagram"></i>
                    <span id="project-spinner" class="fa fa-spinner fa-spin" style="font-size:16px; display: none;"></span>
                    <span class="d-none d-md-inline" id="project_button_text">
                      Select a project
                    </span>
            </a>
            <div class="dropdown-menu animated fadeIn rounded-0" aria-labelledby="project_selector">

                <a class="dropdown-item" href="#!">
                    <i class="mr-3 text-dark fas fa-list "></i>Display all projects
                </a>
                <a class="dropdown-item" href="#!">
                    <i class="mr-3 text-dark fas fa-plus "></i>New project
                </a>
                <div class="dropdown-divider"></div>
                <div class="p-2">
                    <input type="text" class="form-control rounded-0" id="search">
                </div>
                <div class="dropdown-divider"></div>
                <div id="project_list">
                </div>
            </div>
    </div>
</li>
{% endblock topleft_menu %}
{% endif %}
