{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
{% load static %}
<header id="header">
    <nav class="navbar navbar-default navbar-expand-sm navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block topleft_menu %}
                {% include "manager/utils/ui/SelectorsMenu.html" %}
                {% endblock topleft_menu %}
            </ul>
        </div>
        <div class="mx-md-auto order-1">
            <a class="text-white" href="/">
              <image width="90px" height="45px" src="{% static 'img/LOGOsinglefull.png' %}"/>
            </a>
        </div>
        <div class="navbar-collapse collapse w-100 ml-5 order-3" id="navbarSupportedContent">
            <div class="d-flex align-items-center">
              <span id="loading-spinner" class="fa fa-spinner fa-spin float-right text-white" style="font-size:24px; display: none;"></span>
            </div>
            <ul class="navbar-nav ml-auto">
            {% block contextual_menu %}
            {% include "manager/utils/ui/ContextualMenu.html" %}
            {% endblock contextual_menu %}
            </ul>
        </div>
    </nav>
</header>
