{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

<div class="row">
  <div class="col">
    <h4>Applications</h4>
  </div>
  <div class="col text-right">
    {% if applications|length != 0 %}
    <label for="applicationDataTableAction">Action: </label>
    <select id="applicationDataTableAction" onchange="applicationsModalShow(this); $(this).val('default').selectpicker('refresh');" class="action-select">
      <option value="default">-</option>
      <option value="delete">Uninstall</option>
      <option value="enable">Enable</option>
      <option value="disable">Disable</option>
    </select>
    {% endif %}
  </div>
</div>
<hr/>
<table id="applicationsDataTable" class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">URL</th>
      <th scope="col">Version</th>
    </tr>
  </thead>
  <tbody>
    {% if applications|length == 0 %}
    <tr>
      <td class="text-center" colspan="4">No apps installed</td>
    </tr>
    {% else %}
      {% for application in applications %}
      <tr>
        <td>{{ application.id }}</td>
        <td>{{ application.name }}</td>
        <td>{{ application.url }}</td>
        <td>{{ application.version }}</td>
      </tr>
      {% endfor %}
      <script>
        $(document).ready(function() {
          $('#applicationsDataTable').DataTable();
        } );
        $('#applicationDataTableAction').selectpicker();
      </script>
    {% endif %}
  </tbody>
</table>
