{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

<div class="row">
  <div class="col">
    <h4>Clusters</h4>
  </div>
  <div class="col text-right">
    {% if clusters|length != 0 %}
    <label for="clusterDataTableAction">Action: </label>
    <select id="clusterDataTableAction" onchange="clustersModalShow(this); $(this).val('default').selectpicker('refresh');" class="action-select">
      <option value="default">-</option>
      <option value="delete">Delete</option>
      <option value="enable">Enable</option>
      <option value="disable">Disable</option>
    </select>
    {% endif %}
  </div>
</div>
<hr/>
<table id="clustersDataTable" class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Workplace</th>
      <th scope="col">Foreign workplaces</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% if clusters|length == 0 %}
    <tr>
      <td class="text-center" colspan="6">No clusters in database</td>
    </tr>
    {% else %}
      {% for cluster in clusters %}
      <tr>
        <td></td>
        <td>{{ cluster.id }}</td>
        <td>{{ cluster.label }}</td>
        <td>{{ cluster.workplace.label }}</td>
        {% with fworkplaces=cluster.foreign_workplaces.all %}
        <td>
          <ul class="list-unstyled">
            {% for fworkplace in fworkplaces %}
            <li>{{ fworkplace.label }} @ {{ fworkplace.remote_addr }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
          {% for fworkplace in fworkplaces %}
            {% if fworkplace.is_valid == True %}
              <li><i class="fas fa-check-circle text-success"></i></li>
            {% else %}
              <li><i class="fas fa-times-circle text-danger"></i></li>
            {% endif %}
          {% endfor %}
          </ul>
        </td>
        {% endwith %}
      </tr>
      {% endfor %}
      <script>
        $(document).ready(function() {
          var userDataTable = $('#clustersDataTable').DataTable(
          {
            columnDefs: [ {
              orderable: false,
              className: 'select-checkbox',
              targets:   0
            } ],
            select: {
               selector: 'td:first-child'
            },
            order: [[ 1, 'asc' ]],
            dom:
              "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'B><'col-sm-12 col-md-6'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            buttons: [
                'selectAll',
                'selectNone'
            ],
            language: {
                buttons: {
                    selectAll: "Select all items",
                    selectNone: "Select none"
                }
            }
          }
          );
          $('#clusterDataTableAction').selectpicker();
        } );
      </script>
    {% endif %}
  </tbody>
</table>
