{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

<div class="row">
  <div class="col">
    <h4>Ressources management</h4>
  </div>
  <div class="col text-right">
    {% if ressources|length != 0 %}
    <label for="ressourceDataTableAction">Action: </label>
    <select id="ressourceDataTableAction" onchange="ressourcesModalShow(this); $(this).val('default').selectpicker('refresh');" class="action-select">
      <option value="default">-</option>
      <option value="delete">Delete</option>
      <option value="enable">Enable</option>
      <option value="disable">Disable</option>
    </select>
    {% endif %}
  </div>
</div>
<hr/>
<table id="ressourcesDataTable" class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Main workplace</th>
    </tr>
  </thead>
  <tbody>
    {% if ressources|length == 0 %}
    <tr>
      <td class="text-center" colspan="4">No ressources in database</td>
    </tr>
    {% else %}
      {% for ressource in ressources %}
      <tr>
        <td></td>
        <td>{{ ressource.id }}</td>
        <td>{{ ressource.label }}</td>
        <td>{{ ressource.workplace }}</td>
      </tr>
      {% endfor %}
      <script>
        $(document).ready(function() {
          var userDataTable = $('#ressourcesDataTable').DataTable(
          {
            columnDefs: [ {
              orderable: false,
              className: 'select-checkbox',
              targets:   0
            } ],
            select: {
               selector: 'td:first-child'
            },
            order: [[ 1, 'asc' ]],
            dom:
              "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'B><'col-sm-12 col-md-6'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            buttons: [
                'selectAll',
                'selectNone'
            ],
            language: {
                buttons: {
                    selectAll: "Select all items",
                    selectNone: "Select none"
                }
            }
          }
          );
          $('#ressourceDataTableAction').selectpicker();
        } );
      </script>
    {% endif %}
  </tbody>
</table>
