{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

{% load static %}

<div class="row">
  <div class="col">
    <h4>Users</h4>
  </div>
  <div class="col text-right">
    <a class="text-secondary pr-3" data-toggle="tooltip" data-placement="left" title="Add new user" onclick="usersModalShow('string', 'add');" href="#"><i class="fas fa-user-plus"></i></a>
    {% if users|length != 0 %}
    <label for="userDataTableAction">Action: </label>
    <select id="userDataTableAction" onchange="usersModalShow('object', this);" class="action-select">
      <option value="default">-</option>
      <option data-icon="fas fa-trash-alt" value="deleteM">Delete</option>
      <option data-icon="fas fa-check" value="enableM">Enable</option>
      <option data-icon="fas fa-ban" value="disableM">Disable</option>
    </select>
    {% endif %}
  </div>
</div>
<hr/>
<table id="userDataTable" class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Display name</th>
      <th scope="col">Email</th>
      <th scope="col">Last seen</th>
      <th scope="col">Status</th>
      <th scope="col"><i class="fas fa-exclamation-circle"></i></th>
    </tr>
  </thead>
  <tbody>
    {% if users|length == 0 %}
    <tr>
      <td class="text-center" colspan="8">No users in database</td>
    </tr>
    {% else %}
      {% for user in users %}
      <tr>
        <td></td>
        <td id="id_{{ user.user.id }}">{{ user.user.id }}</td>
        <td id="username_{{ user.user.id }}">{{ user.user.username }}</td>
        <td id="dname_{{ user.user.id }}">{{ user.dname }}</td>
        <td id="email_{{ user.user.id }}">{{ user.email }}</td>
        {% if user.user.last_login == None %}
          <td id="last_login_{{ user.user.id }}">Never seen</td>
        {% else %}
          <td id="last_login_{{ user.user.id }}">{{ user.user.last_login }}</td>
        {% endif %}
        <td id="is_active_{{ user.user.id }}">
          {% if user.user.profile.can_auth == True %}
            <i class="fas fa-check-circle text-success"></i>
          {% else %}
            <i class="fas fa-times-circle text-danger"></i>
          {% endif %}
        </td>
        <td id="action_{{ user.user.id }}">
          <a href="#" class="text-secondary" data-toggle="tooltip" data-placement="top" title="Edit" onclick="usersModalShow('string', 'edit', this);"><i class="fas fa-edit"></i></a>
          {% if user.user.profile.can_auth == True %}
            <a href="#" class="text-warning" data-toggle="tooltip" data-placement="top" title="Disable" onclick="usersModalShow('string', 'disable', this);"><i class="fas fa-ban"></i></a>
          {% else %}
            <a href="#" class="text-success" data-toggle="tooltip" data-placement="top" title="Enable" onclick="usersModalShow('string', 'enable', this);"><i class="fas fa-check"></i></a>
          {% endif %}
          <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="usersModalShow('string', 'delete', this);"><i class="fas fa-times"></i></a>
        </td>
      </tr>
      {% endfor %}
      <script>
        $(document).ready(function() {
          userDataTable = $('#userDataTable').DataTable(
          {
            columnDefs: [ {
              orderable: false,
              className: 'select-checkbox',
              targets:   0
            } ],
            select: {
               selector: 'td:first-child'
            },
            order: [[ 1, 'asc' ]],
            dom:
              "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'B><'col-sm-12 col-md-6'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            buttons: [
                'selectAll',
                'selectNone'
            ],
            language: {
                buttons: {
                    selectAll: "Select all items",
                    selectNone: "Select none"
                }
            }
          }
          );
          $('#userDataTableAction').selectpicker();
          $('[data-toggle="tooltip"]').tooltip();
        } );
      </script>
    {% endif %}
  </tbody>
</table>
