{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

{% load static %}

<div class="row">
  <div class="col">
    <h4>Workplaces</h4>
  </div>
  <div class="col text-right">
    <a class="text-secondary pr-3" data-toggle="tooltip" data-placement="left" title="Add new workplace" onclick="workplacesModalShow('string', 'add');" href="#"><i class="fas fa-plus"></i></a>
    {% if workplaces|length != 0 %}
    <label for="workplaceDataTableAction">Action: </label>
    <select id="workplaceDataTableAction" onchange="workplacesModalShow('object',this);" class="action-select">
      <option value="default">-</option>
      <option data-icon="fas fa-trash-alt" value="deleteM">Delete</option>
    </select>
    {% endif %}
  </div>
</div>
<hr/>
<table id="workplacesDataTable" class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Type</th>
      <th scope="col">URL prefix</th>
      <th scope="col"><i class="fas fa-exclamation-circle"></i></th>
    </tr>
  </thead>
  <tbody>
    {% if workplaces|length == 0 %}
    <tr>
      <td class="text-center" colspan="6">No workplace in database</td>
    </tr>
    {% else %}
      {% for workplace in workplaces %}
      <tr>
        <td></td>
        <td id="id_{{ workplace.id }}">{{ workplace.id }}</td>
        <td id="label_{{ workplace.id }}">{{ workplace.label }}</td>
        <td id="ownerType_{{ workplace.id }}">{{ workplace.owner_type }}</td>
        <td id="urlPrefix_{{ workplace.id }}">{{ workplace.url_prefix }}</td>
        <td id="action_{{ workplace.id }}">
          <a href="#" class="text-secondary" data-toggle="tooltip" data-placement="top" title="Edit" onclick="workplacesModalShow('string', 'edit', this);"><i class="fas fa-edit"></i></a>
          <a href="#" class="text-info" data-toggle="tooltip" data-placement="top" title="Click to copy fingerprint" onclick="setClipboardData('{{ workplace.unique_foreign_id }}','Fingerprint');"><i class="fas fa-fingerprint"></i></a>
          <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="workplacesModalShow('string', 'delete', this);"><i class="fas fa-times"></i></a>
        </td>
      </tr>
      {% endfor %}
      <script>
        $(document).ready(function() {
          var workplaceDataTable = $('#workplacesDataTable').DataTable(
          {
            columnDefs: [ {
              orderable: false,
              className: 'select-checkbox',
              targets:   0
            } ],
            select: {
               selector: 'td:first-child'
            },
            order: [[ 1, 'asc' ]],
            dom:
              "<'row'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'B><'col-sm-12 col-md-6'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            buttons: [
                'selectAll',
                'selectNone'
            ],
            language: {
                buttons: {
                    selectAll: "Select all items",
                    selectNone: "Select none"
                }
            }
          }
          );
          $('#workplaceDataTableAction').selectpicker();
          $('[data-toggle="tooltip"]').tooltip();
        } );
      </script>
    {% endif %}
  </tbody>
</table>
