{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
 {% endcomment %}

 <!-- Delete Modal HTML -->
 <div id="userDataTableDelete" class="modal fade square-modal user_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Delete user <span class='modal-display h4 font-italic'></span></h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to delete this User?</p>
           <p class="text-danger"><small>This action cannot be undone.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-danger rounded-0 confirm-button" value="Delete" onclick="">
         </div>
       </form>
     </div>
   </div>
 </div>

 <!-- DeleteM Modal HTML -->
 <div id="userDataTableDeleteM" class="modal fade square-modal user_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Delete users</h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to delete these Records?</p>
           <p class="text-danger"><small>This action cannot be undone.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-danger rounded-0 confirm-button" value="Delete">
         </div>
       </form>
     </div>
   </div>
 </div>

 <!-- Enable Modal HTML -->
 <div id="userDataTableEnable" class="modal fade square-modal user_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Enable user <span class='modal-display h4 font-italic'></span></h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to enable this User?</p>
           <p class="text-success"><small>This action can be reverted.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-success rounded-0 confirm-button" value="Enable">
         </div>
       </form>
     </div>
   </div>
 </div>

 <!-- EnableM Modal HTML -->
 <div id="userDataTableEnableM" class="modal fade square-modal user_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Enable users</h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to enable these Users?</p>
           <p class="text-success"><small>This action can be reverted.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-success rounded-0 confirm-button" value="Enable">
         </div>
       </form>
     </div>
   </div>
 </div>

 <!-- Disable Modal HTML -->
 <div id="userDataTableDisable" class="modal fade square-modal user_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Disable user <span class='modal-display h4 font-italic'></span></h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to disable this User?</p>
           <p class="text-success"><small>This action can be reverted.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-warning rounded-0 confirm-button" value="Disable">
         </div>
       </form>
     </div>
   </div>
 </div>

 <!-- DisableM Modal HTML -->
 <div id="userDataTableDisableM" class="modal fade square-modal user_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Disable Users</h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to disable these Users?</p>
           <p class="text-success"><small>This action can be reverted.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-warning rounded-0 confirm-button" value="Disable">
         </div>
       </form>
     </div>
   </div>
 </div>

<!-- Add Modal HTML -->
<div id="userDataTableAdd" class="modal fade square-modal user_modal formModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Add new user</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <form>

            <div id="usersManagement_username_group_add" class="form-group">
                <label for="usersManagement_username_add">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control rounded-0 usersManagement_username" id="usersManagement_username_add" placeholder="">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 usersManagement_username_append">
                      <span class="spinner-grow spinner-grow-sm usersManagement_username_spinner" role="status" aria-hidden="true" style="display: none;"></span>
                      <i class="fas fa-dot-circle usersManagement_username_append_placeholder"></i>
                    </span>
                  </div>
                  <div class="usersManagement_username_feedback"></div>
                </div>
            </div>

            <div class="form-group usersManagement_firstname_group">
              <label for="usersManagement_firstname_add">Firstname</label>
              <div class="input-group">
                <input type="text" class="form-control rounded-0 usersManagement_firstname" id="usersManagement_firstname_add" placeholder="">
              </div>
            </div>

            <div id="usersManagement_lastname_group" class="form-group">
              <label for="usersManagement_lastname_add">Lastname</label>
              <div class="input-group">
                <input type="text" class="form-control rounded-0 usersManagement_lastname" id="usersManagement_lastname_add" placeholder="">
              </div>
            </div>

            <div id="usersManagement_password_group" class="form-group">
              <label for="usersManagement_password_add">Password</label>
              <div class="input-group">
                <input type="text" class="form-control rounded-0 usersManagement_password" id="usersManagement_password_add" placeholder="">
                <button class="btn btn-primary rounded-0" type="button"
                  onclick="randomString(this,'usersManagement_password','userDataTableAdd');">
                  <span class="button_text">Generate
                  <i class="fas fa-cog"></i></span>
                </button>
              </div>
            </div>

            <div id="usersManagement_mail_group" class="form-group">
              <label for="usersManagement_mail_add">E-mail</label>
              <div class="input-group">
                <input type="email" class="form-control rounded-0 usersManagement_mail" id="usersManagement_mail_add" placeholder="">
                <div class="input-group-prepend">
                  <span class="input-group-text rounded-0 usersManagement_mail_append" id="usersManagement_mail_append_add">
                    <span class="spinner-grow spinner-grow-sm usersManagement_mail_spinner" role="status" id="usersManagement_mail_spinner_add" aria-hidden="true" style="display: none;"></span>
                    <i class="fas fa-dot-circle usersManagement_mail_append_placeholder" id="usersManagement_mail_append_placeholder_add"></i>
                  </span>
                </div>
                <div id="usersManagement_mail_feedback_add" class="usersManagement_mail_feedback"></div>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0" data-dismiss="modal">Cancel</button>
          <button type="button" id="usersManagement_add_submit" class="btn btn-success rounded-0 usersManagement_submit submit_button" value="Add" onclick="usersManagement(this, 'add');" disabled>
            <span class="button_text">Submit
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
              <span class="button_icon"><i class="fas fa-check"></i></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal HTML -->
<div id="userDataTableEdit" class="modal fade square-modal user_modal formModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit user <span class="h4 font-italic editModal_title_username"></span><span class="editModal_hidden_user_id" hidden><span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body row">
          <div class="left-col col-6">

            <div id="usersManagement_username_group_edit" class="form-group">
                <label for="usersManagement_username_edit">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control rounded-0 usersManagement_username" id="usersManagement_username_edit" placeholder="">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 usersManagement_username_append" id="usersManagement_username_append_edit">
                      <span class="spinner-grow spinner-grow-sm usersManagement_username_spinner" role="status" id="usersManagement_username_spinner_edit" aria-hidden="true" style="display: none;"></span>
                      <i class="fas fa-dot-circle usersManagement_username_append_placeholder" id="usersManagement_username_append_placeholder"></i>
                    </span>
                  </div>
                  <div class="usersManagement_username_feedback" id="usersManagement_username_feedback_edit"></div>
                </div>
            </div>

            <div id="usersManagement_firstname_group_edit" class="form-group">
              <label for="usersManagement_firstname_edit">Firstname</label>
              <div class="input-group">
                <input type="text" class="form-control rounded-0 usersManagement_firstname" id="usersManagement_firstname_edit" placeholder="">
              </div>
            </div>

            <div id="usersManagement_lastname_group_edit" class="form-group">
              <label for="usersManagement_lastname_edit">Lastname</label>
              <div class="input-group">
                <input type="text" class="form-control rounded-0 usersManagement_lastname" id="usersManagement_lastname_edit" placeholder="">
              </div>
            </div>

            <div id="usersManagement_password_group_edit" class="form-group">
              <label for="usersManagement_password_edit">Password</label>
              <div class="input-group">
                <input type="text" class="form-control rounded-0 usersManagement_password" id="usersManagement_password_edit" placeholder="">
                <button class="btn btn-primary rounded-0" type="button"
                  onclick="randomString(this,'usersManagement_password','userDataTableEdit');">
                  <span class="button_text">Generate
                  <i class="fas fa-cog"></i></span>
                </button>
              </div>
            </div>

            <div id="usersManagement_mail_group_edit" class="form-group">
              <label for="usersManagement_mail_edit">E-mail</label>
              <div class="input-group">
                <input type="email" class="form-control rounded-0 usersManagement_mail" id="usersManagement_mail_edit" placeholder="">
                <div class="input-group-prepend">
                  <span class="input-group-text rounded-0 usersManagement_mail_append" id="usersManagement_mail_append_edit">
                    <span class="spinner-grow spinner-grow-sm usersManagement_mail_spinner" role="status" id="usersManagement_mail_spinner_edit" aria-hidden="true" style="display: none;"></span>
                    <i class="fas fa-dot-circle usersManagement_mail_append_placeholder" id="usersManagement_mail_append_placeholder_edit"></i>
                  </span>
                </div>
                <div id="usersManagement_mail_feedback_edit" class="usersManagement_mail_feedback"></div>
              </div>
            </div>

          </div>

          <div class="right-col col-6">
            <div id="usersManagement_workgroups_group_edit" class="form-group container-fluid h-100 d-flex flex-column">
              <label for="usersManagement_workgroups_edit">Workgroups</label>
              <div id="usersManagement_workgroups_edit" class="flex-grow-1 d-flex flex-row transfer">
                <div class="col-5 flex-grow-1 p-0 transfer_list list-group transfer_available">
                  <div class="list-head">Available</div>
                  <div class="list-body p-2">
                  </div>
                </div>
                <div class="col-2 flex-grow-1 p-0 transfer_buttons d-flex align-items-center">
                  <div class="container-fluid d-flex flex-column">
                    <button type="button" class="btn btn-light button-right rounded-0 mb-1"><i class="fas fa-chevron-right"></i></button>
                    <button type="button" class="btn btn-light button-left rounded-0"><i class="fas fa-chevron-left"></i></button>
                  </div>
                </div>
                <div class="col-5 flex-grow-1 p-0 transfer_list list-group transfer_selected">
                  <div class="list-head">Selected</div>
                  <div class="list-body p-2">
                  </div>
                </div>
              </div>
            </div>

            <script type="text/javascript">

              var transferList = new Transfer($('#usersManagement_workgroups_edit'));

              transferList.add(TRANSFER.TABLE.AVAILABLE,{id:1,label:'Designers'});
              transferList.add(TRANSFER.TABLE.AVAILABLE,{id:2,label:'Programmers'});

              var workgroups = [
                  {
                      "groupName": "Workplace 2",
                      "groupData": [
                          {
                              "workgroup": "Designers",
                              "value": 1
                          },
                      ]
                  },
                  {
                      "groupName": "Workplace 1",
                      "groupData": [
                          {
                              "workgroup": "Designers",
                              "value": 1
                          },
                      ]
                  }
              ];

            </script>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0" data-dismiss="modal">Cancel</button>
          <button type="button" id="usersManagement_edit_submit" class="btn btn-success rounded-0 usersManagement_submit submit_button" value="Add">
            <span class="button_text">Submit
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
              <span class="button_icon"><i class="fas fa-check"></i></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
