{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
 {% endcomment %}

 <!-- Delete Modal HTML -->
 <div id="workplacesDataTableDelete" class="modal fade square-modal workplace_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Delete workplace <span class='modal-display h4 font-italic'></span></h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to delete this Workplace?</p>
           <p class="text-danger"><small>This action cannot be undone.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-danger rounded-0 confirm-button" value="Delete" onclick="">
         </div>
       </form>
     </div>
   </div>
 </div>

 <!-- DeleteM Modal HTML -->
 <div id="workplacesDataTableDeleteM" class="modal fade square-modal workplace_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Delete workplaces</h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to delete these Records?</p>
           <p class="text-danger"><small>This action cannot be undone.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-danger rounded-0 confirm-button" value="Delete">
         </div>
       </form>
     </div>
   </div>
 </div>

<!-- Add Modal HTML -->
<div id="workplacesDataTableAdd" class="modal fade square-modal workplace_modal formModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Add new workplace</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <form>

            <div id="workplacesManagement_label_group_add" class="form-group">
                <label for="workplacesManagement_label_add">Label</label>
                <div class="input-group">
                  <input type="text" class="form-control rounded-0 workplacesManagement_label" id="workplacesManagement_label_add" placeholder="">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 workplacesManagement_label_append">
                      <span class="spinner-grow spinner-grow-sm workplacesManagement_label_spinner" role="status" aria-hidden="true" style="display: none;"></span>
                      <i class="fas fa-dot-circle workplacesManagement_label_append_placeholder"></i>
                    </span>
                  </div>
                  <div class="workplacesManagement_label_feedback"></div>
                </div>
            </div>

            <div id="workplacesManagement_urlPrefix_group_add" class="form-group">
                <label for="workplacesManagement_urlPrefix_add">Url prefix</label>
                <div class="input-group">
                  <input type="text" class="form-control rounded-0 workplacesManagement_urlPrefix" id="workplacesManagement_urlPrefix_add" placeholder="">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 workplacesManagement_urlPrefix_append">
                      <span class="spinner-grow spinner-grow-sm workplacesManagement_urlPrefix_spinner" role="status" aria-hidden="true" style="display: none;"></span>
                      <i class="fas fa-dot-circle workplacesManagement_urlPrefix_append_placeholder"></i>
                    </span>
                  </div>
                  <div class="workplacesManagement_urlPrefix_feedback"></div>
                </div>
            </div>

            <div id="workplacesManagement_ownerType_group" class="form-group">
              <label for="workplacesManagement_ownerType_add">Owner type</label>
              <div class="input-group">
                <select type="text" class="form-control rounded-0 workplacesManagement_ownerType" id="workplacesManagement_ownerType_add" placeholder="">
                  {% for wpOwnerType in wpOwnerTypes %}
                  {% if wpOwnerType == 'individual' %}
                    <option value='{{ wpOwnerType  }}' selected>{{ wpOwnerType|title  }}</option>
                  {% else %}
                    <option value='{{ wpOwnerType  }}'>{{ wpOwnerType|title  }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

            <div id="workplacesManagement_timeZone_group" class="form-group">
              <label for="workplacesManagement_timeZone_add">Time zone</label>
              <div class="input-group">
                <select type="text" class="form-control rounded-0 workplacesManagement_timeZone" id="workplacesManagement_timeZone_add" placeholder="">
                  {% for wpTimeZone in wpTimeZones %}
                  {% if wpTimeZone != 'Workplace' and wpTimeZone != 'UTC' %}
                    <option value='{{ wpTimeZone }}'>{{ wpTimeZone }}</option>
                  {% endif %}
                  {% if wpTimeZone == 'UTC' %}
                    <option value='{{ wpTimeZone }}' selected>{{ wpTimeZone }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0" data-dismiss="modal">Cancel</button>
          <button type="button" id="workplacesManagement_add_submit" class="btn btn-success rounded-0 workplacesManagement_submit submit_button" value="Add" onclick="workplacesManagement(this, 'add');" disabled>
            <span class="button_text">Submit
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
              <span class="button_icon"><i class="fas fa-check"></i></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal HTML -->
<div id="workplacesDataTableEdit" class="modal fade square-modal workplace_modal formModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit workplace <span class="h4 font-italic editModal_title_label"></span><span class="editModal_hidden_workplace_id" hidden><span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <form>

            <div id="workplacesManagement_label_group_edit" class="form-group">
                <label for="workplacesManagement_label_edit">Label</label>
                <div class="input-group">
                  <input type="text" class="form-control rounded-0 workplacesManagement_label" id="workplacesManagement_label_add" placeholder="">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 workplacesManagement_label_append">
                      <span class="spinner-grow spinner-grow-sm workplacesManagement_label_spinner" role="status" aria-hidden="true" style="display: none;"></span>
                      <i class="fas fa-dot-circle workplacesManagement_label_append_placeholder"></i>
                    </span>
                  </div>
                  <div class="workplacesManagement_label_feedback"></div>
                </div>
            </div>

            <div id="workplacesManagement_urlPrefix_group_edit" class="form-group">
                <label for="workplacesManagement_urlPrefix_edit">Url prefix</label>
                <div class="input-group">
                  <input type="text" class="form-control rounded-0 workplacesManagement_urlPrefix" id="workplacesManagement_urlPrefix_add" placeholder="">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 workplacesManagement_urlPrefix_append">
                      <span class="spinner-grow spinner-grow-sm workplacesManagement_urlPrefix_spinner" role="status" aria-hidden="true" style="display: none;"></span>
                      <i class="fas fa-dot-circle workplacesManagement_urlPrefix_append_placeholder"></i>
                    </span>
                  </div>
                  <div class="workplacesManagement_urlPrefix_feedback"></div>
                </div>
            </div>

            <div id="workplacesManagement_ownerType_group_edit" class="form-group">
              <label for="workplacesManagement_ownerType_edit">Owner type</label>
              <div class="input-group">
                <select type="text" class="form-control rounded-0 workplacesManagement_ownerType" id="workplacesManagement_ownerType_edit" placeholder="">
                  {% for wpOwnerType in wpOwnerTypes %}
                    <option value='{{ wpOwnerType  }}'>{{ wpOwnerType|title  }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div id="workplacesManagement_timeZone_group_edit" class="form-group">
              <label for="workplacesManagement_timeZone_edit">Time zone</label>
              <div class="input-group">
                <select type="text" class="form-control rounded-0 workplacesManagement_timeZone" id="workplacesManagement_timeZone_edit" placeholder="">
                  {% for wpTimeZone in wpTimeZones %}
                    <option value='{{ wpTimeZone }}'>{{ wpTimeZone }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0" data-dismiss="modal">Cancel</button>
          <button type="button" id="workplacesManagement_edit_submit" class="btn btn-success rounded-0 workplacesManagement_submit submit_button" value="Add">
            <span class="button_text">Submit
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
              <span class="button_icon"><i class="fas fa-check"></i></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
