{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
 {% endcomment %}

 <!-- Delete Modal HTML -->
 <div id="workgroupsDataTableDelete" class="modal fade square-modal workgroup_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Delete workgroup <span class='modal-display h4 font-italic'></span></h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to delete this Workgroup?</p>
           <p class="text-danger"><small>This action cannot be undone.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-danger rounded-0 confirm-button" value="Delete" onclick="">
         </div>
       </form>
     </div>
   </div>
 </div>

 <!-- DeleteM Modal HTML -->
 <div id="workgroupsDataTableDeleteM" class="modal fade square-modal workgroup_modal">
   <div class="modal-dialog">
     <div class="modal-content">
       <form>
         <div class="modal-header">
           <h4 class="modal-title">Delete workgroups</h4>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         </div>
         <div class="modal-body">
           <p>Are you sure you want to delete these Records?</p>
           <p class="text-danger"><small>This action cannot be undone.</small></p>
         </div>
         <div class="modal-footer">
           <input type="button" class="btn btn-light rounded-0" data-dismiss="modal" value="Cancel">
           <input type="button" class="btn btn-danger rounded-0 confirm-button" value="Delete">
         </div>
       </form>
     </div>
   </div>
 </div>

<!-- Add Modal HTML -->
<div id="workgroupsDataTableAdd" class="modal fade square-modal workgroup_modal formModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Add new workgroup</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <form>

            <div id="workgroupsManagement_label_group_add" class="form-group">
                <label for="workgroupsManagement_label_add">Label</label>
                <div class="input-group">
                  <input type="text" class="form-control rounded-0 workgroupsManagement_label" id="workgroupsManagement_label_add" placeholder="">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 workgroupsManagement_label_append">
                      <span class="spinner-grow spinner-grow-sm workgroupsManagement_label_spinner" role="status" aria-hidden="true" style="display: none;"></span>
                      <i class="fas fa-dot-circle workgroupsManagement_label_append_placeholder"></i>
                    </span>
                  </div>
                  <div class="workgroupsManagement_label_feedback"></div>
                </div>
            </div>

            <div id="workgroupsManagement_workplace_group" class="form-group">
              <label for="workgroupsManagement_workplace_add">Workplace</label>
              <div class="input-group">
                <select type="text" class="form-control rounded-0 workgroupsManagement_workplace" id="workgroupsManagement_workplace_add" placeholder="" disabled>
                  {% for workplace in workplaces %}
                  {% if workplace.id == request.session.workplace|add:0 %}
                    <option value='{{ workplace.id }}' selected>{{ workplace.label }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0" data-dismiss="modal">Cancel</button>
          <button type="button" id="workgroupsManagement_add_submit" class="btn btn-success rounded-0 workgroupsManagement_submit submit_button" value="Add" onclick="workgroupsManagement(this, 'add');" disabled>
            <span class="button_text">Submit
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
              <span class="button_icon"><i class="fas fa-check"></i></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal HTML -->
<div id="workgroupsDataTableEdit" class="modal fade square-modal workgroup_modal formModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit workgroup <span class="h4 font-italic editModal_title_label"></span><span class="editModal_hidden_workgroup_id" hidden><span></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <form>

            <div id="workgroupsManagement_label_group_edit" class="form-group">
                <label for="workgroupsManagement_label_edit">Label</label>
                <div class="input-group">
                  <input type="text" class="form-control rounded-0 workgroupsManagement_label" id="workgroupsManagement_label_add" placeholder="">
                  <div class="input-group-prepend">
                    <span class="input-group-text rounded-0 workgroupsManagement_label_append">
                      <span class="spinner-grow spinner-grow-sm workgroupsManagement_label_spinner" role="status" aria-hidden="true" style="display: none;"></span>
                      <i class="fas fa-dot-circle workgroupsManagement_label_append_placeholder"></i>
                    </span>
                  </div>
                  <div class="workgroupsManagement_label_feedback"></div>
                </div>
            </div>

            <div id="workgroupsManagement_workplace_group" class="form-group">
              <label for="workgroupsManagement_workplace_edit">Workplace</label>
              <div class="input-group">
                <select type="text" class="form-control rounded-0 workgroupsManagement_workplace" id="workgroupsManagement_workplace_edit" placeholder="" disabled>
                  {% for workplace in workplaces %}
                  {% if workplace.label == 'default' %}
                    <option value='{{ workplace.label }}' selected>{{ workplace.label }}</option>
                  {% else %}
                    <option value='{{ workplace.label }}'>{{ workplace.label }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light rounded-0" data-dismiss="modal">Cancel</button>
          <button type="button" id="workgroupsManagement_edit_submit" class="btn btn-success rounded-0 workgroupsManagement_submit submit_button" value="Add">
            <span class="button_text">Submit
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
              <span class="button_icon"><i class="fas fa-check"></i></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
