{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

{% load static %}

<div class="container-fluid m-0 p-1 border h-100">
    <div id="admin_panel" class="card m-0 p-0 rounded-0 h-100">
      <div class="card-header">
        <p class="h5 d-inline">Administration panel</p>
        <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 float-right row">
          <label for="admin_workplace_selector" class="pt-1 mr-2 d-inline">Workplace: </label>
          <select type="text" class="form-control float-right rounded-0 col-7 col-xl-6" id="admin_workplace_selector" placeholder="" onchange="registerWorkplace(this.value);">
            {% for workplace in workplaces %}
              {% if workplace.id == request.session.workplace|add:0 %}
                <option value='{{ workplace.id }}' selected>{{ workplace.label }}</option>
              {% else %}
                <option value='{{ workplace.id }}'>{{ workplace.label }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="container-fluid card-body m-0 pt-2 pb-2" style="height: calc(100% - 50px) !important;">
        <div class="row h-100">
          <div class="col-3 p-0 h-100">
            <div class="mr-1 border h-100">
              <ul class="nav d-block nav-tabs w-100 border-0 h-100 vertical-tab" id="admin-tab" style="overflow-y: scroll;">
                <li class="nav-item"><a class="nav-link active" href="#admin_global_settings" data-toggle="tab">Global settings</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_security" data-toggle="tab">Security policy</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_users" data-toggle="tab">Users</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_permissions_groups" data-toggle="tab">Permissions groups</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_workplaces" data-toggle="tab">Workplaces</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_clusters" data-toggle="tab">Clusters</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_workgroups" data-toggle="tab">Workgroups</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_projects" data-toggle="tab">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_ressources" data-toggle="tab">Ressources</a></li>
                <li class="nav-item"><a class="nav-link" href="#admin_applications" data-toggle="tab">Applications</a></li>
              </ul>
            </div>
          </div>
          <div class="col-9 p-0 h-100">
              <div class="border tab-content h-100" style="overflow-y: scroll;">
                <div class="tab-pane position-relative p-4 active h-100" id="admin_global_settings">
                  {% include "manager/Admin/GlobalSettings.html"%}
                </div>

                <div class="tab-pane position-relative p-4" id="admin_security">
                  {% include "manager/Admin/Security.html"%}
                </div>

                <div class="tab-pane position-relative p-4" id="admin_users">
                  {% include "manager/Admin/Users.html" %}
                </div>
                {% with workgroups as workgroups %}
                {% include "manager/Admin/Modals/UsersModals.html" %}
                {% endwith %}
                
                <div class="tab-pane position-relative p-4" id="admin_permissions_groups">
                  {% include "manager/Admin/PermissionsGroups.html"%}
                </div>

                <div class="tab-pane position-relative p-4" id="admin_workplaces">
                  {% include "manager/Admin/Workplaces.html"%}
                </div>
                {% with wpOwnerTypes as wpOwnerTypes %}
                {% with wpTimeZones as wpTimeZones %}
                {% include "manager/Admin/Modals/WorkplacesModals.html" %}
                {% endwith %}
                {% endwith %}

                <div class="tab-pane position-relative p-4" id="admin_clusters">
                  {% include "manager/Admin/Clusters.html"%}
                </div>

                <div class="tab-pane position-relative p-4" id="admin_workgroups">
                  {% include "manager/Admin/Workgroups.html"%}
                </div>
                {% include "manager/Admin/Modals/WorkgroupsModals.html"%}

                <div class="tab-pane position-relative p-4" id="admin_projects">
                  {% include "manager/Admin/Projects.html"%}
                </div>

                <div class="tab-pane position-relative p-4" id="admin_ressources">
                  {% include "manager/Admin/Ressources.html"%}
                </div>

                <div class="tab-pane position-relative p-4" id="admin_applications">
                  {% include "manager/Admin/Applications.html"%}
                </div>
                <script src="{% static 'js/admin-modules.js' %}"></script>

              </div>
          </div>
        </div>
      </div>
    </div>
</div>
