{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
<div class="container-fluid m-0 p-1 border h-100" style="overflow-y: scroll;">
  {% if workplace != None %}
  {% if apps|length == 0 %}
  <div class="col-12 jumbotron jumbotron-fluid rounded-0 text-center">
      <h1>No app is installed in your workplace...</h1>
      <p class="lead">It seems that your admin has not installed any app. Notify your manager if you think it is an error.</p>
  </div>
  {% else %}
  <div class="col-12 jumbotron jumbotron-fluid rounded-0 text-center">
      <h1>Your apps</h1>
      <p class="lead">Open one of your app to start working.</p>
  </div>
  <div id="workplaces_list" class="container pt-5 text-center">
    {% for app in apps %}
    <div class="col-lg-4 col-md-6 col-sm-12" style="display: inline-block;">
      <div class="card {% if request.session.workplace|add:0 == workplace.id %} border-success {% endif %} mb-4 rounded-0">
          <div class="card-header {% if request.session.workplace|add:0 == workplace.id %} bg-success {% endif %} h4 text-center rounded-0">
              {{ app.name }}
          </div>
          <div class="card-body">
              <div class="row mb-2">
                  <div class="col-12">
                      <img src="holder.js/120x120" alt="..." class="img-thumbnail rounded-0 float-left mb-2">
                      <p class="col-7 text-left float-right">
                        {{ app.description }}
                      </p>
                  </div>
              </div>
              <button onclick="launch({{ app.id }}, this)" class="btn btn-secondary text-white rounded-0 btn-block">Launch <i class="fas fa-play-circle"></i></button>

          </div>
      </div>
    </div>
    {% endfor %}

  </div>
  {% endif %}
  {% else %}
  <div class="col-12 jumbotron jumbotron-fluid rounded-0 text-center">
      <h1>First register to a workplace...</h1>
      <p class="lead"></p>
  </div>
  {% endif %}
</div>
