{% extends "manager/BaseLayout.html" %}
{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

{% block content %}
<div class="rounded-0" style="height: 88.3%; overflow: scroll;">
    <div class="jumbotron jumbotron-fluid text-center">
        <h1>This is OGDT !</h1>
        <p class="lead">A tool made for game makers letting them imagine and create great games in an easy and intuitive way.</p>
        <p><a class="btn btn-large btn-success rounded-0" href="/login">Login to your Toolbox</a></p>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-6">
                <h4>Don't worry, be happy.</h4>
                <p>We master all the workflow for you. You just need to think about your games, not the means to make them.</p>

                <h4>Powerful help.</h4>
                <p>Analyse game market in realtime. Make decisions based on your performance. Scale your means according to your needs.</p>
            </div>

            <div class="col-lg-6">
                <h4>Stay cool.</h4>
                <p>OGDT includes all you need to relax and care only about your true work. Backups are directly handled by the system.</p>

                <h4>Less issues, more discuss.</h4>
                <p>An optimized tool providing you an easy-to-use suite of communications and collaborative applications.</p>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid text-center">
        <h1>New to OGDT ?</h1>
        <p class="lead">Everything you need is to browse our tutorials. They are easily understandable and designed to fit your needs no matter you are a pro or a begginer.</p>
        <p><a class="btn btn-large btn-success rounded-0" href="#" target="ext">Tutorials</a></p>
    </div>
</div>
{% endblock content %}
