{% extends "manager/BaseLayout.html" %}
{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
{% block content %}
<div id="login" style="height: 88.3%; overflow: scroll;">
    <div class="jumbotron">
        <h1>Welcome to your collaborative Toolbox !</h1>
        <p class="lead">Now just login.</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="card mb-4 rounded-0">
                    <div class="card-header h4">
                        Work place
                    </div>
                    <div class="card-body">
                        <p class="card-text">Name : <b>Fiction Factory</b></p>
                        <p class="card-text">Type : <b>Video games</b></p>
                        <p class="card-text">Registered users : <b>36</b></p>
                        <p class="card-text"></p>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 order-2 order-lg-1">
                <div class="card mb-4 rounded-0">
                    <div class="card-header h4">
                        Daily note
                    </div>
                    <div class="card-body">
                        <p class="card-text">Git gud !</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="card mb-4 rounded-0">
                    <div class="card-header h4">
                        Login
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group has-feedback row">
                                    <label class="col-sm-2 col-form-label" for="login_main">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-sm rounded-0" id="login_main" name="id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="password_main">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control rounded-0" id="password_main" name="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 text-left">
                                        <button type="submit" class="btn btn-primary rounded-0">Log in</button>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="col-sm-12 text-right">
                                            <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1" name="remember">
                                            <label class="form-check-label" for="gridCheck1">
                                                Remember me
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">

                <div class="card mb-4 rounded-0">
                    <div class="card-header">
                        <p class="h4 text-center">News feed</p>
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#GamasutraNews" data-toggle="tab" role="tab" aria-controls="GamasutraNews" aria-selected="true">GamasutraNews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#GamesIndustry" data-toggle="tab" role="tab" aria-controls="GamesIndustry" aria-selected="false">GamesIndustry.biz</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body border-0">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="GamasutraNews" aria-labelledby="GamasutraNews">

                                <p class="card-text">Last news from <a href="#"><b>GamasutraNews</b></a> :</p>

                                <div style="height: 300px; overflow-y: scroll;">

                                    <div class="card mb-2 rounded-0">
                                        <div class="card-header h5">
                                        #1 News 1
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">News 1 content</p>

                                        </div>
                                    </div>

                                    <div class="card mb-2 rounded-0">
                                        <div class="card-header h5">
                                        #2 News 1
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">News 1 content</p>

                                        </div>
                                    </div>

                                    <div class="card mb-2 rounded-0">
                                        <div class="card-header h5">
                                        #3 News 1
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">News 1 content</p>

                                        </div>
                                    </div>

                                    <div class="card mb-2 rounded-0">
                                        <div class="card-header h5">
                                        #4 News 1
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">News 1 content</p>

                                        </div>
                                    </div>

                                    <div class="card mb-2 rounded-0">
                                        <div class="card-header h5">
                                        #5 News 1
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">News 1 content</p>

                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane fade" id="GamesIndustry" aria-labelledby="GamesIndustry">

                                <p class="card-text">Last news from <a href="#"><b>GamesIndustry.biz</b></a> :</p>

                                <div style="height: 300px; overflow-y: scroll;">

                                    <div class="card mb-2 rounded-0">
                                        <div class="card-header h5">
                                            #1 News 1
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">News 1 content</p>

                                        </div>
                                    </div>

                                    <div class="card mb-2 rounded-0">
                                        <div class="card-header h5">
                                            #2 News 1
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">News 1 content</p>

                                        </div>
                                    </div>

                                    <div class="card mb-2 rounded-0">
                                        <div class="card-header h5">
                                            #3 News 1
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">News 1 content</p>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock content %}
