{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

{% load static %}

<div class="container-fluid m-0 p-1 border h-100">
    <div id="profile_panel" class="card m-0 p-0 rounded-0 h-100">
      <div class="card-header">
        <p class="h5">Profile details</p>
      </div>
      <div class="container-fluid card-body m-0 pt-2 pb-2" style="height: calc(100% - 50px);">
        <div class="row h-100">
          <div class="col-3 p-0 h-100">
            <div class="mr-1 border h-100">
              <ul class="nav d-block nav-tabs w-100 border-0 h-100 vertical-tab" id="profile-tab" style="overflow-y: scroll;">
                <li class="nav-item"><a class="nav-link active" href="#profile_details" data-toggle="tab">Personnal informations</a></li>
                <li class="nav-item"><a class="nav-link" href="#profile_security" data-toggle="tab">Security</a></li>
                <li class="nav-item"><a class="nav-link" href="#profile_prefs" data-toggle="tab">Preferences</a></li>
              </ul>
            </div>
          </div>
          <div class="col-9 p-0 h-100">
              <div class="border tab-content h-100" style="overflow-y: scroll;">

                <div class="tab-pane p-4 active animated" id="profile_details">
                  {% include "manager/Profile/Details.html"%}
                </div>
                <div class="tab-pane p-4 animated" id="profile_security">
                  {% include "manager/Profile/Security.html"%}
                </div>
                <div class="tab-pane p-4 animated" id="profile_prefs">
                  {% include "manager/Profile/Preferences.html"%}
                </div>

              </div>
          </div>
        </div>
        <script src="{% static 'js/profile-modules.js' %}"></script>
      </div>
    </div>
</div>
