// @Author: Thibaud FAURIE
// @Date:   2019-05-22T10:53:31+02:00
// @Project: OGDT
// @Filename: style.scss
// @Last modified by:   Thibaud FAURIE
// @Last modified time: 2019-09-05T22:50:32+02:00
// @License: GNU GPLv3
// @Copyright: Copyright (C) 2019 Thibaud FAURIE
//
// This program is free software: you can redistribute it and/or modify it under
// the terms of the GNU General Public License as published by the Free Software
// Foundation, either version 3 of the License, or (at your option) any later
// version.
//
// This program is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
// PARTICULAR PURPOSE. See the GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License along with
// this program. If not, see <https://www.gnu.org/licenses/>.

// fix fullscreen
html {
  position: relative;
  height: 100%;
}
body {
  height: 100vh;
  margin-bottom: 50px;
}

* {
  scrollbar-width: thin;
  font-size: 14px;
}

header {
  height: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.input-group button {
  margin-left: 10px;
}

.modal {
    position: absolute !important;
}

.modal-backdrop {
    position: absolute !important;
}

//TABS
#dashboard-tab{
  margin-left: -1.12rem;
  margin-right: -1.12rem;
  margin-top: -0.8rem;
}

#dashboard-tab.nav-tabs {
   overflow-x: scroll;
   overflow-y: hidden;
   flex-wrap: nowrap;
}

#dashboard-tab .nav-link {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#dashboard-tab .nav-link .close {
  padding-right: 3px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#dashboard-tab.nav-tabs > li {
  display: inline-block;
  white-space: nowrap;
}

#dashboard-tab.nav-tabs > li > a:hover{
  background: rgba(#2abb64,1);
}

.square-modal .modal-content
{
    border-radius: 0 !important;
}

//Vertical TABS
.vertical-tab {
  background-color: rgba(0, 0, 0, 0.03);
}

.vertical-tab .nav-link{
  border: 1px !important;
  border-radius: 0px !important;
}

.vertical-tab .nav-link.active{
  border: 1px !important;
  border-radius: 0px !important;
  background-color: white !important;
}

.vertical-tab .nav-item{
  width: 100%;
  display: block;
}

.message-alert{
  z-index: 1041 !important;
  position: fixed;
}

//Background color green
$theme-colors: (
    "primary": #009c22,
);

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/custom-forms";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/jumbotron";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/media";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
@import "../../../node_modules/bootstrap/scss/carousel";
@import "../../../node_modules/bootstrap/scss/spinners";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/print";

select.custom-select {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

@import "../../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4";
@import "../../../node_modules/datatables.net-select-dt/css/select.dataTables";
@import "../../../node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4";
@import "../../../node_modules/bootstrap-select/dist/css/bootstrap-select";

button.bootbox-cancel {
  border-radius: 0;
}

button.bootbox-accept {
  border-radius: 0;
}

// Special modal

.modal-dialog.modal-xl{
  width: auto;
}

.right-col{
  border-left: 1px solid #dee2e6;
}

// Transfer selector

.transfer .transfer_list {
  border: 1px solid #dee2e6;
  border-radius: 0;
}

.transfer .transfer_list .list-head {
  border-bottom: 1px solid #dee2e6;
  background-color: #e9ecef;
  text-align: center;
  padding: 2px;
}

.transfer .transfer_list .list-body .transfer_item label::before {

}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #dee2e6;
}

.checkmark_container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.checkmark_container:hover input ~ .checkmark {
  border-color: #009c22;
}

/* When the checkbox is checked, add a blue background */
.checkmark_container input:checked ~ .checkmark {
  background-color: #009c22;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark_container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.transfer .transfer_buttons {
  margin-right: auto;
  margin-left: auto;
}
