{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

<h4>Personnal informations</h4>
<hr/>

<div class="col-12 col-md-6">
  <div class="form-group">
    <label for="details_dname">Display name</label>
    <div class="input-group">
      <input type="text" class="form-control rounded-0" id="details_dname" placeholder="{{ profile.dname }}">
      <button class="btn btn-primary rounded-0" type="button"
        onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){}}, className:"square-modal"});'>
        <span class="button_text">
        <i class="fas fa-check"></i></span>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
      </button>
    </div>
  </div>
  <hr/>

  <div class="form-group">
    <label for="details_email">Email</label>
    <div class="input-group">
      <input type="text" class="form-control rounded-0" id="details_email" placeholder="{{ profile.email }}">
      <button class="btn btn-primary rounded-0" type="button"
        onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){}}, className:"square-modal"});'>
        <span class="button_text">
        <i class="fas fa-check"></i></span>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
      </button>
    </div>
  </div>
  <hr/>

  <div class="form-group">
    <label for="details_firstname">Firstname</label>
    <input type="text" class="form-control rounded-0" id="details_firstname" placeholder="{{ profile.firstname }}">
  </div>
  <div class="form-group">
    <label for="details_lastname">Lastname</label>
    <input type="text" class="form-control rounded-0" id="details_lastname" placeholder="{{ profile.lastname }}">
  </div>
  <button class="btn btn-primary rounded-0" type="button"
    onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){}}, className:"square-modal"});'>
    <span class="button_text">Submit
    <i class="fas fa-check"></i></span>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
  </button>

  <hr/>
  <div class="form-group">
    <label for="details_bdate">Birthdate</label>
    <div class="input-group">
      <input type="date" class="form-control rounded-0" id="details_bdate" placeholder="{{ profile.birth_date }}">
      <button class="btn btn-primary rounded-0" type="button"
        onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){}}, className:"square-modal"});'>
        <span class="button_text">
        <i class="fas fa-check"></i></span>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
      </button>
    </div>
  </div>

  <hr/>
  <div class="form-group">
    <label for="details_bio">Bio</label>
    <textarea rows="8" cols="80" class="form-control rounded-0" id="details_bio">{{ profile.bio }}</textarea>
  </div>
  <button class="btn btn-primary rounded-0" type="button"
    onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){}}, className:"square-modal"});'>
    <span class="button_text">Submit
    <i class="fas fa-check"></i></span>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
  </button>
</div>

<hr/>
<h4>DUMP</h4>
{% for pr in profile_dump %}
  {% for key, value in pr.fields.items %}
   <p>{{ key }} : {{ value }}</p>
  {% endfor %}
{% endfor %}
