{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

<h4>Preferences</h4>

<hr/>

<div class="col-12 col-md-6">
  <div class="form-group">
    <label for="preferences_dname">Location</label>
    <div class="input-group">
      <input type="text" class="form-control rounded-0" id="preferences_dname" placeholder="{{ profile.location }}">
      <button class="btn btn-primary rounded-0" type="button"
        onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){}}, className:"square-modal"});'>
        <span class="button_text">
        <i class="fas fa-check"></i></span>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
      </button>
    </div>
  </div>
  <hr/>

  <div class="form-group">
    <label for="preferences_timezone">Time zone</label>
    <div class="input-group">
      <select class="form-control rounded-0" id="preferences_timezone">
        {% for key, value in profile.get_timezone_choices %}
        {% if value == profile.time_zone %}
          <option value="{{ value }}" class="bg-primary text-white" selected>{{ key }}</option>
        {% else %}
          <option value="{{ value }}">{{ key }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <button class="btn btn-primary rounded-0" type="button"
        onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){}}, className:"square-modal"});'>
        <span class="button_text">
        <i class="fas fa-check"></i></span>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
      </button>
    </div>
  </div>
  <hr/>
</div>

<h4>DUMP</h4>
{% for pr in profile_dump %}
  {% for key, value in pr.fields.items %}
   <p>{{ key }} : {{ value }}</p>
  {% endfor %}
{% endfor %}
