{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
 {% endcomment %}

<h4>Security</h4>
<hr/>

<div class="col-12 col-md-6">
  <h4>Change username</h4>
  <div class="form-group">
    <label for="security_username">Username</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text rounded-0" id="inputGroupPrepend">@</span>
      </div>
      <input type="text" class="form-control rounded-0" id="security_username" placeholder="{{ user.username }}">
      <button class="btn btn-primary rounded-0" type="button"
        onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){profileSecurity(this, "submit", "username");}}, className:"square-modal"});'>
        <span class="button_text">
        <i class="fas fa-check"></i></span>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
      </button>
    </div>
  </div>
  <hr/>

  <h4>Change password</h4>
  <div class="form-group">
    <label for="security_password">Password</label>
    <input type="password" class="form-control rounded-0" id="security_password" placeholder="">
  </div>
  <div class="form-group">
    <label for="security_password-repeat">Repeat password</label>
    <input type="password" class="form-control rounded-0" id="security_password-repeat" placeholder="">
  </div>
  <button class="btn btn-primary rounded-0" type="button"
    onclick='bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){profileSecurity(this, "submit", "password");}}, className:"square-modal"});'>
    <span class="button_text">Submit
    <i class="fas fa-check"></i></span>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
  </button>

</div>

<hr/>
<h4>DUMP</h4>
{% for pr in profile_dump %}
  {% for key, value in pr.fields.items %}
   <p>{{ key }} : {{ value }}</p>
  {% endfor %}
{% endfor %}
